{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Web application created by Anibal Alpizar Campos, created with Django and postgres published in render.com
            Free use, project code at https://github.com/Anibal-Alpizar/django-crud-auth
            natus, veniam fugiat nisi esse voluptas! Dolor exercitationem quibusdam minus excepturi officiis quasi
            dolore
            repellat autem labore temporibus animi, officia consectetur ratione culpa necessitatibus velit tenetur
            eligendi
            sunt hic non soluta! Consectetur, laborum vitae!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>

        </div>
    </section>
</main>
{% endblock %}